@tailwind base;
@tailwind components;
@tailwind utilities;

.country-dropdown .ui-menu-item-wrapper{
    padding: 4px 6px;
}

.country-dropdown .ui-menu-item-wrapper:hover {
    background-color: #bcbfc0;
    cursor: pointer;
}